*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #ebecf2;
  position: relative;
}

hr {
  height: 3px;
  background-color: black;
}

.title-text {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.title-text h2 {
  padding-top: 30px;
  font-size: 3.2rem;
  color: rgb(2, 31, 8);
  font-weight: bold;
}
.title-text .underline {
  display: flex;
  justify-content: center;
  border: 3px solid #339900;
  width: 50px;
}

.sidebar-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 11;
  overflow: hidden;
}
.sidebar-btn i {
  color: #fff;
  font-size: 2rem;
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out;
}
.sidebar-btn .menu-rotate {
  transform: rotate(90deg);
}
.sidebar-btn .btn-sidebar-show {
  padding: 10px;
  border-radius: 10px;
}
.sidebar-btn .shadow-bg {
  background: rgba(0, 0, 0, 0.55) !important;
}

.btn:focus {
  box-shadow: none !important;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -100vw;
  background-color: #222;
  width: 100vw;
  height: 100vh;
  padding-top: 25px;
  transition: left 0.2s ease-in-out;
  z-index: 10;
}
.sidebar .logo-brand {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sidebar .logo-brand .logo-img {
  border-radius: 50%;
  width: 150px;
}
.sidebar .logo-brand h2 {
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 2.8rem;
  color: #339900;
  font-weight: bold;
}
.sidebar .logo-brand h2::before {
  content: "";
  border-left: 5px solid #339900;
  padding-right: 5px;
}
.sidebar .sidebar-item:first-child {
  margin-top: 5px;
}
.sidebar .sidebar-item {
  list-style-type: none;
  font-size: 2.2rem;
  margin-left: 10px;
  padding: 10px 0;
}
.sidebar .sidebar-item i {
  margin-right: 10px;
}
.sidebar .sidebar-item a {
  text-decoration: none;
  color: white;
  transition: color 0.15s ease-in-out;
  transition: font-weight 0.15s ease-in-out;
}
.sidebar .sidebar-item a:hover {
  color: #339900;
  font-weight: bold;
}
.sidebar .sidebar-item .active {
  color: #339900;
  font-weight: bold;
  background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.212) 50%);
  padding: 0 10px;
}

.home {
  height: 100vh;
  position: relative;
  background-image: url("../img/bg-home.png");
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home .home-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  z-index: -5;
}
.home .information-text {
  flex-direction: column;
  color: #fff;
}
.home .information-text h2 {
  font-size: 5rem;
}
.home .information-text p {
  font-size: 3rem;
}
.home .information-text .auto-type {
  background: lime;
  color: black;
  font-weight: bold;
  padding: 0 10px;
}
.home .arrow {
  position: absolute;
  bottom: 30px;
  font-size: 3rem;
  z-index: 10 !important;
}
.home .arrow a {
  color: #fff;
  transition: color 0.2s ease-in-out;
}
.home .arrow a:hover {
  color: rgb(122, 122, 122);
}

.about {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.about .pre-text {
  padding: 0 10px;
  text-align: start;
}
.about .img-about {
  padding: 0 10px;
  padding-bottom: 15px;
}
.about .about-text {
  padding: 0 10px;
  font-size: 1.6rem;
  text-align: start;
  background-color: transparent;
}
.about .skills {
  margin-top: 50px;
  padding: 20px 20px;
}
.about .skills .skills-title .skills-title-item {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.8rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 0px #339900;
  color: #fff;
}
.about .skills .skills-item {
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: start;
  font-weight: 500;
  color: #fff;
}
.about .skills .skills-item .skill-check {
  color: #339900;
}
.about .skills .skills-container {
  margin-left: auto;
  margin-right: auto;
}

.portfolio {
  background-color: #fff;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.portfolio .portfolio-info {
  overflow: hidden;
}
.portfolio .portfolio-info .portfolio-text {
  font-size: 2rem;
}

.services {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.services .services-group .services-box {
  position: relative;
  background-color: #fff;
  padding: 25px 15px;
  min-height: 375px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.65), -5px -5px 5px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease-in-out;
}
.services .services-group .services-box .services-box-title {
  font-size: 2.6rem;
  font-weight: bold;
  text-transform: uppercase;
}
.services .services-group .services-box .services-text {
  font-size: 2rem;
}
.services .services-group .services-box .services-bold {
  font-weight: bold;
}
.services .services-group .services-box .btn-choose {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  font-size: 1.8rem;
}
.services .services-group .services-box .btn-choose a {
  text-decoration: none;
  color: #fff;
}
.services .services-group .services-box:hover {
  transform: scale(1.1);
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 25vh;
  background-color: #fff;
}
.contact .contact-list {
  padding-bottom: 20px;
}
.contact .contact-list .contact-bold {
  font-weight: bold;
}
.contact .contact-list .contact-item {
  list-style-type: none;
  font-size: 1.8rem;
}

footer {
  font-size: 1.8rem;
}

@media (min-width: 375px) {
  .sidebar {
    left: -100vw;
    width: 100vw;
  }
  .about .about-text {
    padding: 0 10px;
  }
  .about .skills .skills-item {
    font-size: 1.5rem;
  }
  .services .services-group .services-box {
    min-height: 350px;
  }
}
@media (min-width: 414px) {
  .sidebar {
    left: -100vw;
    width: 100vw;
  }
  .about .about-text {
    padding: 0 10px;
  }
  .about .skills .skills-item {
    font-size: 1.6rem;
  }
  .services .services-group .services-box {
    min-height: 350px;
  }
}
@media (min-width: 768px) {
  .sidebar {
    left: -300px;
    width: 300px;
  }
  .sidebar-btn {
    top: 25px;
    right: 25px;
  }
  .arrow a {
    font-size: 3.5rem;
  }
  .about .pre-text {
    font-size: 2rem;
  }
  .about .about-text {
    font-size: 2rem;
  }
  .about .skills {
    padding: 30px 20px;
  }
  .about .skills .skills-title .skills-title-item {
    font-size: 4rem;
  }
  .about .skills .skills-item {
    font-size: 1.7rem;
  }
}
@media (min-width: 992px) {
  .arrow a {
    font-size: 4.5rem;
  }
  .about .pre-text {
    font-size: 2.2rem;
  }
  .about .about-text {
    font-size: 2.2rem;
  }
  .about .skills {
    padding: 45px 20px;
  }
  .about .skills .skills-item {
    font-size: 1.9rem;
  }
  .services {
    min-height: 90vh;
  }
  .services .services-group .services-box {
    min-height: 390px;
  }
  footer {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  .sidebar {
    left: 0;
    width: 300px;
  }
  .sidebar-btn {
    display: none;
  }
  header {
    margin-left: 300px;
  }
  main {
    margin-left: 300px;
  }
  footer {
    font-size: 1.2rem;
    position: fixed;
    bottom: 5px;
    left: 50px;
    color: white;
    z-index: 13;
  }
  .about .pre-text {
    font-size: 1.6rem;
  }
  .about .about-text {
    font-size: 1.6rem;
  }
  .about .skills {
    padding: 20px 20px;
  }
  .about .skills .skills-item {
    font-size: 1.8rem;
  }
}
.sidebar-show {
  left: 0;
}/*# sourceMappingURL=style.css.map */