:root {
	font-family: Inter, sans-serif;
	font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
	:root {
		font-family: InterVariable, sans-serif;
	}
}

[data-theme='dark'] {
	--main: rgb(6, 187, 35);
	--white: rgb(255, 255, 255);
	--black: rgb(0, 0, 0);
	--dark: rgb(16, 16, 16);
	--halfblack: rgba(0, 0, 0, 0.9);
}

[data-theme='light'] {
	--main: rgb(6, 187, 35);
	--white: rgb(0, 0, 0);
	--black: rgb(255, 255, 255);
	--dark: rgb(231, 231, 231);
	--halfblack: rgba(255, 255, 255, 0.8);
}

@mixin upperLabels {
	font-size: 2.2rem;
	color: var(--white);
	position: absolute;
	top: 27.5%;
	left: 6%;
	pointer-events: none;
	transition: transform 0.3s;
	padding: 0em 0.5em;
}

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	// border: 1px dotted red;
}

html {
	font-size: 62.5%;
}

body {
	position: relative;
	font-family: 'Inter', sans-serif;
	scroll-behavior: smooth;
	background-color: var(--dark);
	overflow-x: hidden;
	min-height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
}

body.home {
	height: 100vh;
	overflow: hidden;
}
.particles {
	min-height: 99vh;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0.25;
	z-index: -5;
}

.btns {
	position: absolute;
	top: 2%;
	right: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 15;

	&__languages {
		padding: 0.5em 1.5em;
		font-size: 2rem;

		p {
			color: var(--white);
		}

		a {
			color: var(--white);
			text-decoration: none;
			position: relative;

			&::before {
				position: absolute;
				content: '';
				bottom: -15%;
				left: 0;
				height: 0px;
				width: 105%;
				background-color: #aaa;
				transition: height 0.1s ease-in-out;
			}

			&:hover {
				color: #aaa;
			}

			&:hover:not(.btns__active)::before {
				height: 2px;
			}
		}
	}
	a.btns__active {
		color: #aaa;
		&::before {
			position: absolute;
			content: '';
			bottom: -15%;
			left: 0;
			height: 2px;
			width: 105%;
			background-color: #aaa;
			transition: height 0.1s ease-in-out;
		}
	}

	&__btn {
		font-size: 3rem;
		top: 7.5%;
		position: absolute;
		background-color: transparent;
		border: none;
		color: var(--white);
		transition: opacity 0.25s ease-in-out;

		&--active {
			opacity: 0;
			pointer-events: none;
		}
	}
}

.main {
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	&__brand-title {
		margin-top: 2em;
		margin-bottom: -0.75em;
		font-size: 5rem;
		text-transform: uppercase;
		font-weight: bold;
		color: var(--main);
		text-shadow: 3px 3px 0px #050505;
		transform: skew(-10deg);

		&--skills {
			margin-top: 2.5em;
			font-size: 3.25rem;
			text-align: center;
		}
	}
	&__mine-img {
		margin-bottom: 3em;
	}

	&__title {
		text-transform: uppercase;
		font-weight: bold;
		color: var(--white);
		font-size: 4rem;
	}
	&__author {
		font-weight: bold;
		text-transform: uppercase;
		background: linear-gradient(
			45deg,
			#ff0000,
			#ff0000,
			#ff0000,
			#ff8000,
			#ffbf00,
			#ffff00,
			#80ff00,
			#00ff00,
			#00ff80,
			#00ffff,
			#0080ff,
			#0000ff,
			#8000ff,
			#ff0000,
			#ff0000,
			#ff0000
		);
		animation: author__background 3s linear infinite;
		background-size: 1000% 1000%;
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;

		@keyframes author__background {
			0% {
				background-position: 0% 50%;
			}
			100% {
				background-position: 100% 50%;
			}
		}
	}

	&__description {
		color: var(--white);
		font-size: 2rem;
	}
	&__items {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin-top: 2em;
	}
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		margin: 0 2em;

		img {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		a {
			text-decoration: none;
			color: var(--white);
			font-size: 1.8rem;
		}

		&::before {
			position: absolute;
			content: '';
			bottom: 0;
			left: 52.5%;
			width: 0;
			height: 2px;
			background-color: var(--white);
			transform: translate(-50%, -50%);
			transition: width 0.3s ease-in-out;
		}

		&:hover::before {
			transform-origin: right;
			width: 50%;
		}
		&:hover {
			cursor: pointer;
		}

		&--link {
			font-family: 'Inter', sans-serif;
			text-transform: uppercase;
			font-weight: 500;
		}
	}

	&__active {
		&::after {
			position: absolute;
			content: '';
			bottom: 0;
			left: 52.5%;
			width: 50%;
			height: 2px;
			background-color: var(--white);
			transform: translate(-50%, -50%);
		}
	}
	&__icon {
		font-size: 2rem;
		color: var(--white);
		padding: 0em 0.5em;
	}

	.menu {
		&__btns {
			margin-top: 6em;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__btn {
			font-size: 2rem;
			text-transform: uppercase;
		}

		&__sections {
			.list {
				margin: 1.5em 0em;
				padding: 1.5em 1em;
				background-color: var(--white);
				border-radius: 15px;

				&__title {
					font-size: 1.8rem;
					text-transform: uppercase;
					font-weight: 800;
					color: var(--black);
				}

				&__list {
					list-style-type: '> ';
				}

				&__item {
					color: var(--black);
					font-size: 1.6rem;
					font-weight: 500;
					text-transform: uppercase;
				}
			}
			.card {
				margin: 1.5em 0em;
				padding: 1.5em 1em;
				background-color: var(--white);
				border-radius: 15px;
				&__title {
					font-size: 1.8rem;
					color: var(--black);
					font-weight: bold;
				}
				&__date {
					font-size: 1.4rem;
					text-transform: uppercase;
					font-weight: bold;
					color: var(--black);
				}
				&__line {
					height: 2px;
					background-color: var(--black);
					margin: 1em 0em;
				}
				&__description {
					color: var(--black);
					font-size: 1.4rem;
				}
			}
		}
	}

	.projects {
		&__boxs {
			.project {
				margin-top: 2.5em;
				position: relative;
				box-shadow: 0px 0px 25px var(--black);

				&__img {
					&:last-child {
						margin-bottom: 5em;
					}
				}

				&__info {
					background-color: var(--white);
					color: var(--black);
					padding: 1em;
					font-size: 1.4rem;
					border-bottom-left-radius: 15px;
					border-bottom-right-radius: 15px;
				}

				&__btns {
					display: flex;
					justify-content: center;
					align-items: center;
				}

				&__btn {
					margin: 0 1em;
					padding: 1em 2em;
					font-size: 1.4rem;
					text-transform: uppercase;
					font-weight: bold;
					background: var(--main);
					text-decoration: none;
					color: var(--black);
					border-radius: 15px;
					transition: box-shadow 0.3s ease-in-out;

					&:hover {
						box-shadow: 5px 5px 0px var(--black);
					}
				}
			}
		}
	}

	.contact {
		margin-top: 2.5em;
		&__form {
			&--upper {
				display: flex;
				justify-content: center;
				align-items: center;
			}
			&--btn {
				margin-top: 1em;
				display: flex;
				justify-content: center;
				align-items: center;

				.btn {
					padding: 0.5em 1em;
					font-size: 2rem;
					font-weight: bold;
					text-transform: uppercase;
				}
			}
		}
		&__input {
			position: relative;

			&-area {
				background-color: transparent;
				margin: 0.5em 1em;
				padding: 0em 0.5em;
				width: 375px;
				height: 55px;
				border: 2px solid #aaa;
				border-radius: 15px;
				font-size: 1.8rem;
				color: var(--white);

				&--message {
					margin-top: 1.5em;
					width: 790px;
					resize: vertical;
					transition: height 0.3s;
				}

				&:focus {
					outline: none;
					border: 2px solid var(--main);
				}

				&:focus ~ .contact__label--name,
				&:focus ~ .contact__label--email,
				&:focus ~ .contact__label--message,
				&:valid ~ .contact__label--name,
				&:valid ~ .contact__label--message,
				&:valid ~ .contact__label--email {
					transform: translateY(-90%);
					background-color: var(--dark);
					color: var(--white);
					border-radius: 25px;
				}
			}
		}

		&__label {
			&--name {
				@include upperLabels;
			}
			&--email {
				@include upperLabels;
			}
			&--message {
				@include upperLabels;
				top: 41%;
				left: 3.5%;
			}
		}
	}
}

@media (min-width: 320px) {
	/* … */
}
@media (min-width: 375px) {
	.main {
		&__brand-title {
			margin-top: 8em;
			margin-bottom: -0.5em;
		}
	}
}
@media (min-width: 414px) {
	body.home {
		min-height: 100vh;
		overflow-y: visible;
	}
	.main {
		&__brand-title {
			margin-top: 6em;
			margin-bottom: 0em;
		}
	}
}
@media (min-width: 768px) {
	body.home {
		overflow-y: hidden;
	}
	.btns {
		top: 2.5%;
		right: 10%;
	}

	.main {
		&__brand-title {
			margin-top: 2em;
		}

		&__items {
			margin-bottom: 5em;
		}
	}
}
@media (min-width: 992px) {
}
@media (min-width: 1024px) {
	/* … */
}

@media (min-width: 1200px) {
	.btns {
		top: 10%;
		right: 10%;
	}

	.main {
		&__brand-title {
			margin-top: 0em;
			margin-bottom: 0em;
		}

		&__item {
			&::before {
				position: absolute;
				content: '';
				bottom: -25%;
				left: 52.5%;
			}

			&:hover::before {
				transform-origin: right;
				width: 100%;
			}
		}

		&__active {
			&::after {
				bottom: -25%;
				left: 55%;
				width: 100%;
			}
		}

		.menu {
			&__sections {
				&--knowledge {
					width: 1000px;
				}
			}
		}

		.projects {
			&__boxs {
				.project {
					&__img {
						margin: 1em 2em;
						position: relative;
						width: 475px;
						height: 275px;
						background-position: center;
						background-size: cover;

						&--flyingcraft {
							background-image: url('../img/flyingcraft.png');
						}

						&--portfolio {
							background-image: url('../img/portfolio.png');
						}
						img {
							display: none;
						}

						&:hover > .project__info {
							opacity: 1;
						}
					}

					&__info {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						border-bottom-left-radius: 0;
						border-bottom-right-radius: 0;
						display: flex;
						justify-content: center;
						align-items: center;
						flex-direction: column;
						background-color: var(--halfblack);
						color: var(--white);
						opacity: 0;
						transition: opacity 0.3s ease-in-out;
					}

					&__btns {
						display: flex;
						justify-content: center;
						align-items: center;
					}

					&__btn {
						margin: 0 1em;
						padding: 1em 2em;
						font-size: 1.4rem;
						text-transform: uppercase;
						font-weight: bold;
						background: var(--main);
						text-decoration: none;
						color: var(--black);
						border-radius: 15px;
						transition: box-shadow 0.3s ease-in-out;

						&:hover {
							box-shadow: 5px 5px 0px var(--white);
						}
					}
				}
			}
		}
	}
}
